[core]
	excludesfile = /Users/samueldebacker/.global-gitignore
	autocrlf = false
	pager = delta

[user]
	name = Samuel De Backer
	email = sdebacker@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOd4zgKsJm1yDquP2+Ca7nZqUiJ2aZNwxJHP9gg3teWQ

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[fetch]
	prune = true

[pull]
	rebase = false

[init]
	defaultBranch = main

[gpg]
	format = ssh

[push]
	autoSetupRemote = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
